{
  "presets" : [
    "react",
    [
      "env",
      {
        "targets" : {
          "browsers" : "last 2 versions",
          "chrome" : "56"
        },
        "loose" : true,
        "modules" : false
      }
    ]
  ]
}
